<div class="menu unselectable" [ngClass]="menuService.isOpened? '' : 'menu-off'">
  <div class="menu-header darken">
    <div class="logo"></div>
    <div class="app-name">Mez-admin</div>
  </div>

  <div class="menu-content unselectable">
    <a *ngFor="let section of sections"
       class="menu-section"
       [ngClass]="section.name === activeSection ? 'active' : ''"
       routerLink="/{{section.name}}">
      <div class="icon" style="position: relative; height: 100%">
        <img class="absolute-center" src="assets/{{section.icon}}.svg" alt="icon" style="height: calc(12px + 0.3vw)">
      </div>
      <span>{{section.label}}</span>
    </a>
  </div>

  <div class="menu-footer darken">
    <div class="menu-switcher unselectable" (click)="menuService.switch()">
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>
</div>
