<div class="menu unselectable" [ngClass]="menuService.isOpened? '' : 'menu-off'">
  <div class="menu-header darken">
    <div class="logo"></div>
    <div class="app-name">Mez-admin</div>
  </div>

  <div class="menu-content unselectable">
    <a class="menu-section" routerLink="/engines">
      <div class="icon" style="position: relative; height: 100%">
        <img class="absolute-center" src="assets/engine.svg" alt="icon" style="height: calc(12px + 0.3vw)">
      </div>
      <span>Двигатели</span>
    </a>
    <a class="menu-section" routerLink="/categories">
      <div class="icon" style="position: relative; height: 100%">
        <img class="absolute-center" src="assets/category.svg" alt="icon" style="height: calc(12px + 0.3vw)">
      </div>
      <span>Типы двигателей</span>
    </a>
    <a class="menu-section" routerLink="/manufacturers">
      <div class="icon" style="position: relative; height: 100%">
        <img class="absolute-center" src="assets/manufacture.svg" alt="icon" style="height: calc(12px + 0.3vw)">
      </div>
      <span>Производители</span>
    </a>
    <a class="menu-section" routerLink="/news">
      <div class="icon" style="position: relative; height: 100%">
        <img class="absolute-center" src="assets/news.svg" alt="icon" style="height: calc(12px + 0.3vw)">
      </div>
      <span>Новости</span>
    </a>
    <a class="menu-section" routerLink="/news">
      <div class="icon" style="position: relative; height: 100%">
        <img class="absolute-center" src="assets/mail.svg" alt="icon" style="height: calc(12px + 0.3vw)">
      </div>
      <span>Рассылка</span>
    </a>
  </div>

  <div class="menu-footer darken">
    <div class="menu-switcher unselectable" (click)="menuService.switch()">
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>
</div>
