input, select, textarea {
  appearance: none; background: transparent;
  outline: none!important;
  border: none; padding: 0;
  font-weight: 400;
  resize: none; width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.category-info {
  width: calc(90% - var(--avatar-height));
  min-width: 30px; padding: var(--padding-size);
}
.post-top {display: flex;}
.post-info {padding: var(--padding-size)}
.post-info textarea {
  max-height: calc(var(--avatar-height)*0.8 - 20px - 0.5vw - var(--padding-size));
  width: 100%; max-width: 100%;
  min-width: 100%;
  font-size: calc(12px + 0.3vw);
  opacity: 0.9;
  min-height: calc(var(--line-height) * 0.5);
}
.post-info input {
  font-size: calc(16px + 0.4vw);
  font-weight: 500;
}
.post-info label { position: relative }
label> span {position: absolute; font-size: calc(8px + 0.2vw); opacity: 0.5; top: 0; left: 0}
.new input, .new textarea,
.editable input, .editable textarea {
  margin-top: calc(12px + 0.3vw)!important;
  font-size: 13px; opacity: 1; font-weight: 400;
}
label{ display: block; position: relative}
.post-info {
  width: calc(90% - var(--avatar-height) - var(--padding-size) * 4);
}

.post-text {
  padding: calc(var(--padding-size) *0.5) var(--padding-size);
  width: 100%;
}
.post-text textarea {
  width: 100%; min-width: 100%;
  max-width: 100%; max-height: calc(90px + 1.75vw + 0.25vh);
  height: calc(var(--line-height) * 0.45);
  min-height: calc(var(--line-height) * 0.45);
}
.category-top {
  display: flex;
}
.category-text {
  padding: var(--padding-size);
}
.category-name {
  font-weight: bold; color: #4f59a5; font-size: 18px;
}
.new .category-name, .editable .category-name {
  font-weight: 400; font-size: 14px; color: #555;
}
