<div class="entity" [ngClass]="getClass()">

  <div class="entity-overlay" *ngIf="isLoading"></div>

  <div class="controls unselectable">
    <div class="save" *ngIf="isEditable()" (click)="save()">
      <i class="fas fa-clipboard-check absolute-center"></i></div>
    <div *ngIf="!isEditable()" (click)="edit()">
      <i class="fas fa-pen-square absolute-center"></i></div>
    <div *ngIf="isEditable()" (click)="cancel()">
      <i class="fas fa-undo absolute-center"></i></div>
    <div class="delete" (click)="delete()">
      <i class="fas fa-trash-alt absolute-center"></i></div>
  </div>

  <div class="category-top">
    <div class="avatar">
      <div [style]="getPhotoCss()"></div>
      <input
        type="file"
        class="photo-input"
        [disabled]="!isEditable()"
        (change)="handleAvatarChange($event)">
    </div>
    <div class="category-info">
      <label>
        <span *ngIf="isEditable()">название </span>
        <input type="text" [(ngModel)]="category.name" [disabled]="!isEditable()">
      </label>
      <label>
        <span *ngIf="isEditable()">краткое описание </span>
        <textarea
          maxlength="100"
          [(ngModel)]="category.shortDescription"
          oninput="this.style.height = (this.scrollHeight) + 'px'"
          [disabled]="!isEditable()"></textarea>
      </label>
    </div>
  </div>

  <div class="category-text">
    <label>
      <span *ngIf="isEditable()">полное описание </span>
      <textarea oninput="this.style.height = (this.scrollHeight) + 'px'"
        maxlength="400"
        [(ngModel)]="category.fullDescription"
        [disabled]="!isEditable()"></textarea>
    </label>
  </div>

</div>
