input, select {
  appearance: none; background: transparent;
  outline: none!important;
  border: none; padding: 0;
}

.engine-top {display: flex;}
.engine-info {padding: var(--padding-size);}
.engine-info label { position: relative }
label> span {position: absolute; font-size: calc(8px + 0.2vw); opacity: 0.5; top: 0; left: 0}
.new .engine-info input, .new .engine-info select,
.editable .engine-info input, .editable .engine-info select
{ margin-top: calc(12px + 0.3vw)}
.engine-price {
  padding-left: 5px;
}
label{ display: block; width: 100%}
.separator { padding: calc(var(--padding-size)*0.5) var(--padding-size);}
.engine-characteristics, .engine-photos {
  background-color: #eeeeee3d;
}
.engine-characteristics .row {
  border-top: 1px solid #77889944;
  position: relative;
}

.engine-characteristics> .row> div {
  width: 9.5%; text-align: center;
  border-right: 1px solid #77889944; display: flex;
  height: var(--line-height); overflow: hidden;
}
.engine-characteristics .row> div> div { margin: auto }
.engine-characteristics .row> div:nth-child(2),
.engine-characteristics .row> input:nth-child(2){width: 14.5%;}
.engine-characteristics .row> div:last-child,
.engine-characteristics .row> input:last-child{border-right: none}
.engine-characteristics .row> input {
  width: 9.5%; text-align: center;
  border-right: 1px solid #77889944;
  padding: 5px 0;
  height: calc(var(--line-height) * 0.6);
  line-height: calc(var(--line-height) * 0.6);
}

.engine-photos {
  display: flex; flex-direction: row;
  overflow: hidden;
  height: calc(var(--line-height) * 1.5);
  border-top: 1px solid #77889944;
}
.engine-photos> div {
  height: calc(var(--line-height) * 1.5 - 6px);
  width: calc(var(--line-height) * 1.5 - 6px);
  margin: 3px; border-radius: 4px; overflow: hidden;
  position: relative;
}
.engine-photos> div> div {
  position: absolute; height: 100%; width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}
.overlay {
  background-color: #0000008d;
  opacity: 0; transition: opacity 0.1s;
  position: relative; color: #fff;
}
.overlay> i {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -15%);
  opacity: 0.2; cursor: pointer;
  transition: 0.15s;
}
.overlay:hover { opacity: 1 }
.overlay:hover > i {
  opacity: 1;
  transform: translate(-50%, -50%);
  font-size: calc(18px + 0.45vw);
}
.engine-photos> div> input {
  position: absolute; height: 100%; width: 100%;
  z-index: 2; opacity: 0; cursor: pointer;
}
.add-photo> div {
  border: 2px dashed #77889988; border-radius: 4px;
  background-image: url("/assets/photo.png");
}
