:root {
  --content-size: calc(1020px + 15vw);
  --padding-size: calc(10px + 0.5vw);
  --menu-width: calc(210px + 5.25vw);
  --line-height: calc(40px + 1vw);
  --avatar-height: calc(120px + 3vw);


  --checkbox-size: calc(17px + 0.425vw);
  --search-width: calc(250px + 12.5vw);
  --form-width: calc(270px + 13.5vw);

  --accent-color-light: #ffd044;
  --accent-color: #ffa610;
  --accent-color-dark: #f5820c;
  --green-color: #4caf50;
  --red-color: #dd153d;
  --primary-color-light: #4a6ebc;
  --primary-color: #122c44;
  --primary-color-dark: #131c36;
  --header-color: #535e5bd4;
  --tooltip-color: #292929f0;
  --my-border-color: #77777777;
  --background-color:  #fbfcff;
}

/*_____________ REBOOT _____________*/
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  font-weight: 400;
  width: 100vw; height: 100vh;
  overflow: hidden;
  font-size: calc(13px + 0.325vw);
  color: #444;
  background: var(--background-color);
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: unset;
  text-decoration: none;
}
p {
  margin-block-start: 0;
  margin-block-end: 1em;
}
hr {
  height: 1px;
  border: none;
  background: #8888885d;
}
i {
  font-size: calc(11px + 0.275vw);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*______________TOOLS _______________*/
.notification {
  position: fixed; right: 20px; bottom: 20px;
  opacity: 0;
  z-index: 100;
  min-width: calc(70px + 10vw);  max-width: calc(100% - 40px);
  padding: calc(var(--padding-size)*0.5) var(--padding-size); padding-right: 0;
  font-weight: 500; background-color: #383e4e;  border: 1px solid #eeeeee2d; color: #eee; border-radius: 4px;
  overflow: hidden;
  font-size: 15px;
  transition: 0.35s linear;
  transform: translateY(30vh);
  display: flex; align-items: center; justify-content: space-between;
}
.notification.visible {
  opacity: 1;
  transform: none;
}
.notification> .closer {
  position: relative;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  margin: 0 10px 0 25px;
}
.notification> .closer::after {
  content: ""; left: 0; top: 0;
  position: absolute; width: 100%; height: 100%;
  border-radius: 50%; background-color: #b3bdff47;
  opacity: 0.5; transition: 0.2s; transform: scale(0);
}
.notification> .closer:hover::after {
  opacity: 1; transform: none;
}
.hidden {
  display: none;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.underlined {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}
.with-tooltip {
  position: relative;
  width: fit-content;
  z-index: 1;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  display: none;
  opacity: 0;
  background-color: var(--tooltip-color);
  width: max-content;
  max-width: 210px;
  color: #fff;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: calc(13px + 0.1vw);
  z-index: 1;
  font-weight: 400;
  text-transform: none;
}
.tooltip> p {
  margin-bottom: 4px;
}
.tooltip-additional {
  display: block;
  opacity: 0.7;
  font-size: 12px;
}
.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%; left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-color) transparent;
}
.with-tooltip:hover .tooltip {
  display: block;
  opacity: 1;
  transform: translateX(-50%)
}
.with-columns, .row {
  display: flex;
}
.row {
  align-items: center;
  justify-content: space-between;
}
.btn {
  border-radius: 8px;
  cursor: pointer;
  height: calc(var(--line-height) * 0.6);
  line-height: calc(var(--line-height) * 0.6);
  padding: 0 calc(var(--padding-size)*1.5);
  font-weight: 500; user-select: none;
  white-space: nowrap; text-align: center;
}
.btn-secondary {
  box-shadow: 0 0 0 1px #7c7c7c5e;
  color: var(--primary-color-light);
  transition: 0.1s;
}
.btn-secondary:hover {
  background-color: #fff;
  box-shadow: 0 0 0 2px #5c7fd15e;
}
.btn-secondary:active {
  background-color: #fff;
  box-shadow: 0 0 0 1px #5c7fd1ae, 0 0 0 3px #5c7fd15e;
}
.btn-primary {
  background-color: var(--accent-color-light);
  color: #fff;
}
.btn-primary:hover {
  background-color: var(--accent-color);
}
.btn-primary:active {
  background-color: var(--accent-color-dark);
}
h1, h2, h3 {
  font-size: calc(20px + 0.5vw);
}
h4, h5 {
  font-size: calc(17px + 0.425vw);
  font-weight: 500;
  margin: 0;
}
h6 {
  font-size: calc(16px + 0.4vw);
  font-weight: 400;
  margin: 0;
}
/* ___________ STYLES ____________ */
.content {
  position: absolute; top: 0; right: 0;
  width: calc(100% - var(--menu-width));
  height: 100vh; overflow: hidden;
  transition: width 0.3s; background-color: #f6f7f9;
}
.content.menu-off {
  width: calc(100% - var(--line-height));
}
.header {
  position: absolute; top: 0;
  color: var(--primary-color);
  width: 100%; height: var(--line-height);
  line-height: var(--line-height);
  padding: 0 var(--padding-size);
  border-bottom: 1px solid #77889977;
}
.main-wrapper {
  position: absolute; top: var(--line-height);
  width: 100%; height: calc(100% - var(--line-height));
  overflow-x: hidden; overflow-y: scroll;
  padding: var(--padding-size);
}
.main {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-size);
  padding: 0 var(--padding-size);
}
.main-header> .title {
  color: var(--primary-color);
  opacity: 0.75;
  font-weight: 500;
  font-size: calc(17px + 0.425vw);
  padding: var(--padding-size) 0;
}

/* _____________ ENTITY ______________*/
.entity {
  box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: var(--padding-size);
  overflow: hidden; position: relative;
  transition: 0.1s;
}
.entity-overlay {
  position: absolute; width: 100%; height: 100%;
  background-color: #ffffff; z-index: 5;
  /*backdrop-filter: blur(3px);*/
}
@keyframes loader-anim {
  0%{ transform: translate(-50%, -50%) rotate(0deg) }
  100% { transform: translate(-50%, -50%) rotate(359deg) }
}
.entity-overlay::after {
  content: ""; width: calc(40px + 1vw); height: calc(40px + 1vw);
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #3f51b5; border-radius: 50%;
  border-right-color: transparent;
  animation: loader-anim 1s linear infinite;
}
.new { box-shadow: 0 0 0 2px #4caf589e, 0 0 0 5px #58dc396e; }
.editable { box-shadow: 0 0 0 2px #3f51b594, 0 0 0 5px #03a9f47a; }

/*____________ ENTITY CONTROLS __________*/
.controls {
  position: absolute; border-radius: 4px;
  background-color: #fff;
  right: calc(var(--padding-size) * 0.5); top: calc(var(--padding-size) * 0.5);
  z-index: 3; display: flex; flex-direction: row;
  opacity: 0; transition: opacity 0.2s;
}
.entity:hover .controls { opacity: 1; }
.controls> div {
  font-weight: 500; border-radius: 50%;
  height: calc(var(--line-height)*0.7);
  width: calc(var(--line-height)*0.7);
  line-height: calc(var(--line-height)*0.7);
  cursor: pointer; position: relative; margin: 3px;
  color: var(--primary-color); opacity: 0.7; transition: 0.2s;
}
.controls> div> i { font-size: calc(14px + 0.35vw);}
.controls> div:hover {
  background-color: #eeeeff9d; opacity: 1; color: var(--primary-color-light);
}
.controls> .save:hover { background-color: #4CAF501d; color: var(--green-color) }
.controls> .delete:hover { background-color: #DD153D1d; color: var(--red-color) }

/*____________ ENTITY AVATAR __________*/
.avatar {
  width: var(--avatar-height);
  height: var(--avatar-height);
  overflow: hidden; position: relative;
}
.avatar> div {
  width: calc(100% - var(--padding-size));
  height: calc(100% - var(--padding-size));
  position: absolute;
  border: 3px dashed #77889988; border-radius: 4px;
  background: url("/assets/photo.png") no-repeat center;
  background-size: contain;
  z-index: 1; margin: calc(var(--padding-size)*0.5);
}
.avatar> input {
  width: 100%!important; height: 100%!important;
  position: absolute!important; z-index: 2!important;
  opacity: 0!important; cursor: pointer; margin: 0!important;
}
